/* nav */
nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 256px;
}

nav .nav-top {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

nav .nav-top h1 {
  display: flex;
  gap: 2px;
  font-size: 36px;
}

nav .nav-top h1 span:nth-child(1) {
  color: var(--yellow);
}
nav .nav-top h1 span:nth-child(2) {
  color: var(--blue);
}
nav .nav-top h1 span:nth-child(3) {
  color: var(--red);
}
nav .nav-top h1 span:nth-child(4) {
  color: var(--yellow);
}
nav .nav-top h1 span:nth-child(5) {
  color: var(--blue);
}
nav .nav-top h1 span:nth-child(6) {
  color: var(--red);
}

nav .nav-top ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
nav .nav-top li {
  display: flex;
}
nav .nav-top li a {
  width: 100%;
}

nav .nav-bottom {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

nav .nav-bottom .nav-bottom-user {
  display: flex;
  align-items: center;
  gap: 16px;
}
nav .nav-bottom .nav-bottom-user img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--on-surface-opaque);
}

/* btn-primary */
.btn-primary {
  position: relative;
  overflow: hidden;

  padding: 16px 24px;
  font-weight: 600;
}

.btn-primary::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: left 0.4s;
  z-index: -12;
  background-color: var(--blue);
}

.btn-primary::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  transition: left 0.4s;
  z-index: -11;
  background-color: var(--blue-container);
}

.btn-primary:hover:before {
  left: 0;
}

/* btn-secondary */
.btn-secondary {
  position: relative;
  overflow: hidden;

  padding: 16px 24px;
  font-weight: 600;
}

.btn-secondary::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: left 0.4s;
  z-index: -12;
  background-color: var(--surface);
}

.btn-secondary::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  transition: left 0.4s;
  z-index: -11;
  background-color: var(--on-surface-opaque);
}

.btn-secondary:hover:before {
  left: 0;
}

.btn-secondary-disabled {
  background-color: var(--on-surface-opaque);
}

/* btn-outline */
.btn-outline {
  padding: 16px 24px;
  border: 1px solid var(--on-surface-opaque);
  font-weight: 600;
}

/* tag */
.tag {
  position: absolute;
  top: 16px;
  left: 16px;

  padding: 4px 8px;
  border-radius: 4px;
  background-color: var(--blue);
  font-weight: 800;
}

/* list-item */
.list-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}
.list-item .list-item-image {
  width: 100%;
  background-color: var(--on-surface);
}
.list-item-image .list-item-image img {
  width: 100%;
  height: 100%;
  background-color: var(--on-surface);
}
.list-item .list-item-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.list-item .list-item-bottom .list-item-bottom-likes {
  opacity: 0.7;
}

.list-item-sm {
  width: 32vh;
  min-width: 32vh;
}
.list-item-sm .list-item-image {
  height: 32vh;
}

.list-item-sm-height .list-item-image {
  height: 32vh;
}

.list-item-full-height .list-item-image {
  height: 100%;
}